DISCORD_TOKEN=MTE3NjYyMjA4ODgzNzE0ODczMg.GjJAcx.usVoKFbfQLI[BURAYI_SIL_TOKEN_GUVENLIGI_ICIN]TqCZ8Pofb5Pq-62fIMpVr1oXt-c
CLIENT_ID=1176622088837148732
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=discord_mod
